@model Farmakotriftis.Model.Medicine
@{ ViewData["Title"] = "Index"; }

<h1>Medical</h1>
<h2>Product details</h2>

<div>
    <p>Product Code : @Model.ProductCode</p>
    <p>Product Name : @Model.ProductName</p>
    <p>Packing : @Model.Packing</p>
    <p>Price : @Model.Price</p>
</div>