@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<h2>ResetPassword</h2>


<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Token" />
    Password : <input type="password" asp-for="Password" /> <br />
    Confirm Password : <input type="password" asp-for="ConfirmPassword" /> <br />
    <input type="submit" value="ResetPassword" />
</form>

@ViewBag.Msg
